{% extends 'dashboard.html' %}
{% block page_title %}
    Dependants List
{% endblock %}
{% block breadcrump %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
        <li class="breadcrumb-item"><a href="index-2.html">Products</a></li>
        <li class="breadcrumb-item"><span>Laptop with retina screen</span></li>
    </ul>
{% endblock %}
{% block cpt %}{% endblock %}
{% block page_content %}
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">Dependant List</h6>
            <div class="element-box">
                <h5 class="form-header">{{ user.record }}</h5>
                <div class="form-desc">
                    Below is a list of dependants registered under your policy record.
                </div>
                <div class="table-responsive">
                    <table id="tblhhD" width="100%" class="table table-striped table-hover table-lightfont">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Relationship</th>
                            <th>Date Joined</th>
                            <th>Deceased?</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Relationship</th>
                            <th>Date Joined</th>
                            <th>Deceased?</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for dependant in dependants %}
                            <tr>
                                <td>
                                    <a href="{% url 'members:view_dependant' dependant.pk %}">
                                        {% if dependant.is_deceased %}
                                            <del>
                                                {{ dependant.full_name }}
                                            </del>
                                        {% else %}
                                            {{ dependant.full_name }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ dependant.age }}</td>
                                <td>{{ dependant.get_sex_display }}</td>
                                <td>{{ dependant.get_relationship_display }}</td>
                                <td>{{ dependant.date_joined }}</td>
                                <td>{{ dependant.is_deceased }}</td>
                                <td>
                                    {% if not dependant.is_deceased %}
                                        <a href="{% url 'members:edit_dependant' dependant.pk %}">
                                            <i class="os-icon os-icon-pencil-2"></i> Edit
                                        </a>
                                        &bull;
                                        <a class="text-danger" href="{% url 'members:delete_dependant' dependant.pk %}">
                                            <i class="os-icon os-icon-database-remove"></i> Remove
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $("#tblD").dataTable()
    </script>
{% endblock %}